.contain{
  min-height: 100vh;
}
.home-contain{
  text-align: center;
  justify-content: center;
  align-content: center;
}
.home-contain .btn{
  text-transform: uppercase;
}
.home-contain .btn-information{
  background-color: #FF006E;
}
.titleSignin{
  padding: 4% 4% 4% 0%;
  font-size: 1rem;
}
.titleHome{
  font-weight: 700;
  padding: 5%;
}
.signin-contain img{
  display: block;
  margin: 2% auto;
}
.signin-contain{
  justify-content: center;
  align-content: center;
}
.signin-contain .titleSignin{
  text-align: center;
}
.contain-dashboard .card{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
  height: 30vh;
  margin: 2% auto;
}
.contain-dashboard .card-street{
  font-size: .9rem;
  padding-left: 11%;
}
.contain-dashboard{
  justify-content: auto;
  min-height: 50vh;
  align-content: auto;
}
.contain-dashboard .card-title{
  font-weight: 600;
  font-size: 1.1rem;
  padding-left: 11%;
}
.icoProfileCardClient, 
.icoProfileCardClient:hover,
.icoProfileCardClient:focus{
  border-radius: 50px;
  font-weight: 600;
  font-size: 2rem;
  display: block;
  border: none;
  height: 90px;
  width: 90px;
  margin: 2%;
}
.btn-action, 
.btn-action:hover, 
.btn-action:focus{
  background-color: #353552;
  border-radius: 50%;
  position: relative;
  padding: 1%;
  height: 50px;
  width: 50px;
  border: none;
}
.btn-action svg{
  position: absolute;
  display: block;
  color: #FFF;
  height: 25px;
  width: 25px;
  margin: auto;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.btnListActions{
  position: absolute;
  margin: 2% auto;
  margin-right: 3% !important;
  right: 0;
  top: 0;
}
.btnListActions ul{
  padding: 0;
  margin: 0;
}
.btnListActions li{
  list-style: none;
  display: block;
  margin-bottom: 4%;
}
.contain-pending-title{
  text-align: center;
  color: rgba(0, 0, 0, .5);
}
.textNoCustomers p{
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, .3);
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, .5);
  padding: 3%;
}
.cardPendingCustomers{
  height: 15vh !important;
}
.icoUserNameCardPending{
  position: absolute;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  margin: 4%;
  margin-left: 5%;
  color: #FFF;
  display: flex;
  height: 70px;
  width: 70px;
  padding: 5%;
  bottom: 0;
  left: 0;
  top: 0;
}
.icoUserNameCardPending p{
  font-size: 1.3rem;
  position: absolute;
  text-align: center;
  margin: auto;
  text-transform: uppercase;
  height: 45%;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.contain-userDataCard{
  padding: 1%;
  border-radius: 5px;
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  top: 0;
}
.cardPendingCustomers .card-body{
  position: relative;
}
.containCardsScroller{
  border-radius: 15px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 40vh;
}
.cardItemName{
  font-weight: 600;
  font-size: 1.2rem;
}